// utils
@use 'utils/colors'
@use 'utils/mixins'

.container
    position: fixed
    right: 2.5%
    width: 10rem
    padding: 0.5rem 1rem 0 1rem
    background-color: white
    border: 1px solid colors.$border-color
    border-radius: 1rem 1rem 0.25rem 0.25rem
    font-size: 1.1rem
    z-index: 10
    opacity: 0.75
    transition: bottom 0.5s

    @include mixins.media()
        right: 20%

    &--open
        @extend .container
        bottom: 0

    &--close
        @extend .container
        bottom: -6rem

.bar-wrapper
    display: flex
    justify-content: space-between
    align-items: center

.score-wrapper
    display: flex
    justify-content: center
    flex-direction: column
    height: 6rem

.score-items
    display: flex
    justify-content: space-between
