// utils
@use '@/styles/utils/colors'
@use '@/styles/utils/mixins'

.container
    display: grid
    align-items: center
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr 1fr

    @include mixins.media()
        grid-template-columns: 1fr 1fr
        grid-template-rows: 1fr

.wrapper
    display: flex
    justify-content: flex-end
    align-items: center
    grid-column: span 2
    grid-row: 2

    @include mixins.media()
        grid-column: 2
        grid-row: 1